---
layout: layouts/base.njk
---

<div>
  {% include 'event-types.njk' %}
  <hr />
  {% include 'how-to-join.njk' %}
  <hr />
  {#{% include 'events.njk' %}
  <hr />
  {% include 'sponsors.njk' %}
  <hr />
  #} {% include 'team.njk' %}
  <hr />
  {% include 'code-of-conduct.njk' %}
</div>
