<section>
  <h2>Code of Conduct</h2>
  <p>
    We follow
    <a href="https://www.python.org/psf/conduct/"
      >Python Software Foundation's Code of Conduct</a
    >
    to build an open and welcoming community.
  </p>

  <p>
    Every participant, speaker, organizer and sponsor is required to follow the
    code of conduct in our events and online discussions.
  </p>

  <p>
    Every member of our community has the right to have their identity
    respected. The Python community is dedicated to providing a positive
    experience for everyone, regardless of age, gender identity and expression,
    sexual orientation, disability, physical appearance, body size, ethnicity,
    nationality, race, or religion (or lack thereof), education, or
    socio-economic status.
  </p>
</section>
