<section class="event-types">
  <h2>Welcome to our community</h2>

  <p>
    Arcipylago is a community for
    <a href="https://www.python.org/">Python</a> developers of all backgrounds
    and skill levels. And you are invited!
  </p>

  <p>We are planning to organize three kinds of events:</p>

  <h3>Meetups</h3>

  <p>
    Every other month, we organize a meetup with a couple of talks about Python.
    In these meetups, you get to learn about Python from our speakers, meet
    fellow Pythonistas and get to know companies who work with Python in the
    Turku region.
  </p>

  <h3>Sprints</h3>

  <p>
    Every other month, we organize sprints. These are hands-on events where the
    focus is on writing Python. Let's get together and work on open source
    projects or learn new technologies and libraries within the Python
    community.
  </p>

  <p>
    We want to find a way that works for our community so you'll have an
    opportunity to have an impact on what these sprints become.
  </p>

  <h3>Casual gatherings</h3>

  <p>
    Python communities are great because of the people who participate in them.
    We'll organize casual gatherings like afterworks that lets us hang out
    together even without computers and agendas.
  </p>
</section>
