<h1>archipylago</h1>
<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/for-speakers">For speakers</a>
    </li>
    <li>
      <a href="/for-companies">For companies</a>
    </li>
    <li>
      <a href="/feed/feed.xml">RSS</a>
    </li>
  </ul>
</nav>
<p class="tagline">Your friendly Python community in Turku</p>

<p class="tagline"><em>archipylago = archipelago + python</em></p>
