<section>
  <h2>How you can join?</h2>

  <p>Right now, there are four things you can do:</p>

  <ul>
    <li>
      Register at
      <a href="https://meetabit.com/communities/archipylago">Meetabit</a> for
      event registration and email list.
    </li>
    <li>
      Join us in the
      <a href="https://archipylago.dev/discord">#TurkuDev Discord</a> for
      discussions
    </li>
    <li>
      Follow us in Mastodon at
      <a href="https://mementomori.social/@archipylago"
        >https://mementomori.social/@archipylago</a
      >
    </li>
    <li>Tell your friends, colleagues and companies that we exist.</li>
  </ul>
</section>
