---
layout: layouts/base.njk
---

<div id="blog-post" class="h-entry">
  <header>
    <h1 class="p-name">{{ title }}</h1>
    <div class="info">
      <span class="date"
        >Published
        <time class="dt-published">{{ date | toLocalDateYear }}</time></span
      >
      <span class="author">by <span class="p-author">{{ author }}</span></span>
    </div>
  </header>

  <div class="e-content">{{ content | safe }}</div>
</div>

<script src="/assets/prism.js"></script>
